.alevel {
  margin-bottom: 10px;
}

.heading {
  position: absolute;
  top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.ranking-table-uni-name {
  font-size: 24px;
  color: black;
}

.ranking-table-uni-logo {
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
}
